<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Login</title>
        <link rel="stylesheet" href="~/css/quotes.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".quote").css("opacity", "0.75")
                $(".quote").mouseenter(function(){
                    $(this).addClass("selected");
                    $(this).css("opacity", "1")
                });
                $(".quote").mouseleave(function(){
                    $(this).removeClass("selected");
                    $(this).css("opacity", "0.75")
                })
            });
        </script>
    </head>
    <body>
        <h1>The Bulletin Board</h1>
        <p>Logged in successfully as @ViewBag.firstname @ViewBag.lastname</p>
        <form action="postquote" method="post">
            <textarea name="Text"></textarea><br>
            <input type="submit" value="Say Something!"></input>
        </form>
        <a href="logout"><button>Logout</button></a>
        @{
            foreach(var current in ViewBag.allQuotes)
            {
                @:<div class="quote">
                    <p class="quoteheader">At @current.created_at @current.user.FirstName said:</p>
                    <br>
                    <p class="quotetext">@current.Text</p>
                    <br>
                    <p class="quoteother">Post ID: @current.ID</p>
                    if(@current.user.FirstName == @ViewBag.firstname)
                    {
                        @:<form action="deletequote" method="post" class="quoteother">
                            <input type="hidden" name="toDelete" value="@current.ID"></input>
                            <input type="submit" value="Delete"></input>
                        @:</form>
                    }
                    <div class="quotebottom">
                    </div>
                @:</div>
            }
        }
    </body>
</html>